<h2>Наши контакты</h2>
<p>Тел: 111 222 333</p>

<form action="/contacts" method="POST" role="form">

  <div class="form-group">
    <label>Ваш Электронный адрес </label>
    <input name ="email" type="text" class="form-control" placeholder="Введите адрес">
  </div>


  <button type="submit" class="btn btn-primary">Записаться</button>

</form>